body {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}

ul {
  position: relative;
  width: 300px;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.speechDragItem {
  width: 50%;
  height: 100%;
  background: white;
  border-radius: inherit;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  color: black;
  background: rgba(255, 255, 255, 0.3);
}

.speechContainer {
  background: rgba(255, 255, 255, 0.3);
  font-family: "Lacquer", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  place-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  border-radius: 30px;
  padding-top: 5px;
  padding-bottom: 15px; /* allow room for penguin to grow */
}

.speechBubble {
  padding-left: 60px;
}

li {
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: 100%;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  font-family: "Blinker", sans-serif;
  border: 1px solid white;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

li {
  background: white;
  margin: 10px;
  flex: 0 0 100px;
  position: relative;
  border-radius: 10px;
}

button {
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
}

button.homeToAntarctica {
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 28px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close {
  position: relative;
  right: 5px;
  background: white;
  border: none;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

button svg {
  position: absolute;
  left: 5px;
  top: 5px;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19ab27;
}
.react-toggle--checked .react-toggle-track {
  background-color: #ab199f;
}

.react-toggle-track-x {
  background-color: #ab199f;
  right: 100px;
}
.react-toggle-track-checked {
  background-color: #ab199f;
}

.react-toggle {
  height: 100%;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  width: 100px;
  width: 300px;
  height: 100%;
  padding: 0;
  border-radius: 10px;
  background-color: #4d4d4d;
  background-color: transparent;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.react-toggle-thumb {
  width: 38px;
  height: 38px;
  position: relative;
  left: 0px;
  top: -100%;
}
.react-toggle--checked .react-toggle-thumb {
  position: relative;
  left: 260px;
  border-color: #ab199f;
}
span.toggle {
  height: 100%;
  top: 0px;
  position: absolute;
}

/* from path toggle example */

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container {
  width: 100%;
  height: 38px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding-left: calc(50% - 36px / 2);
}

.box {
  background: white;
  background: transparent;
  border-radius: 30px;
  width: 300px;
  height: 38px;
  height: 100%;
  position: absolute;
  top: calc(50% - 150px / 2);
  top: 0;
  left: calc(50% - 150px / 2);
  left: calc(50% - 36px / 2);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.progress-icon {
  width: 80%;
  height: 80%;
  border-radius: 30px;
  width: 36px;
  height: 36px;
  /*  position: absolute;
  top: 1px;*/
}

.left-close {
  left: 1px;
}

.right-check {
  right: 1px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h1 {
  font-weight: 10000;
}
